com.wabtec.sam5.feature/userconfigInitial/profil/_empty/configuration-vues/configuration-vues-listetabulaire.dtd

<!-- gestion de la configuration d'une vue -->
<!ELEMENT vue (filtre-applique?,configuration-colonnes?)>
<!ELEMENT configuration-colonnes (colonne*)>
<!ELEMENT colonne EMPTY>
<!ATTLIST colonne
	nom CDATA #REQUIRED
	largeur CDATA #REQUIRED
	affiche CDATA #REQUIRED>
<!ELEMENT filtre-applique EMPTY>
<!ATTLIST filtre-applique
	nom CDATA #REQUIRED>
