com.wabtec.sam5.feature/userconfig/ressources/bridage/FICPARAM_TYP_ENGIN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2012 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="T_typeEngin">
		<xs:attribute name="nomFichierXML" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nom" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="libelle" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T_selection_type_engin">
		<xs:attribute name="valeur" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:integer"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T_selection_engins">
		<xs:sequence>
			<xs:element ref="typeEngin" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_enregistreur-def">
		<xs:sequence>
			<xs:element ref="selection_type_engin"/>
			<xs:element ref="selection_engins"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="typeEngin" type="T_typeEngin"/>
	<xs:element name="selection_type_engin" type="T_selection_type_engin"/>
	<xs:element name="selection_engins" type="T_selection_engins"/>
	<xs:element name="enregistreur-def" type="T_enregistreur-def"/>
</xs:schema>
